<div class="">

<div class="profile-info">
    <div class="info-col">
<div class="profile-intro">
    <h3>Intro</h3>
    <p class="intro-text">Believe in your self and you can do unbelievable things.
        <img src="img/images/feeling.png" alt="">
    </p>
    <hr>
    <ul>
        <li><img src="assets/image/icons/profile-study.png" alt="">Studied at Hashmite  University</li>
        <li><img src="assets/image/icons/location.png" alt=""style="width: 20px;">Lives in Jordan , Amman</li>
        <li><img src="assets/image/icons/birthdate2.png" alt="">19/5/2002</li>
    </ul>

</div>


<div class="profile-intro">
  
    <div class="title-box">
        <h3>Photos</h3>
        <a href="">All Photo</a>
    </div>
  
    <div class="Photo-box">
        <div><img src="assets/image/post/imgPost6.jpg" alt=""></div>
        <div><img src="assets/image/post/imgPost7.jpg" alt=""></div>
        <div><img src="assets/image/post/imgPost5.jpg" alt=""></div>
        <div><img src="assets/image/post/imgPost8.JPG" alt=""></div>
       

    </div>
</div>

<div class="profile-intro">
  
    <div class="title-box">
        <h3>Friends</h3>
        <a href="friendsList.html">All Friends</a>
    </div>
  <p style="color: var(--text-color);">120 (10 mutual)</p>
    <div class="Friends-box">
        <div><img src="assets/image/profile/member6.jpg" alt="">Samer Wahdan</div>
        <div><img src="assets/image/profile/member8.jpg" alt="">Mohammad Wahdan</div>
        <div><img src="assets/image/profile/member2.jpg" alt="">Abdulrahman Alshami</div>
        <div><img src="assets/image/profile/member5.jpg" alt="">Rahaf Abu-Samrah</div>
        <div><img src="assets/image/profile/member4.jpg" alt="">Tasnim AlShishani</div>

    </div>
</div>
 </div>
 <div class="info-col-post">
    <app-mange-post></app-mange-post>
    <app-post-list></app-post-list>
 </div>
</div>