<div class="">

<div class="profile-info">
    <div class="info-col">
<div class="profile-intro">
    <h3>Intro</h3>
    <p class="intro-text">{{user.bio}}
        <img src="img/images/feeling.png" alt="">
    </p>
    <hr>
    <ul>
   
        <li><img src="assets/image/icons/icons8-gender-100.png" alt=""style="width: 20px;"> <span *ngIf="user.gender === 1">Female</span><span *ngIf="user.gender === 2">Male</span></li>
        <li><img src="assets/image/icons/birthdate2.png" alt="">{{user.dateOfBirth | date:'dd/MM/yyyy'}}</li>
    </ul>

</div>




<div class="profile-intro">
  
    <div class="title-box">
        <h3>Friends</h3>
        <a href="friendsList.html">All Friends</a>
    </div>
  <p style="color: var(--text-color);">120 (10 mutual)</p>
    <div class="Friends-box">
        <div><img src="assets/image/profile/member6.jpg" alt="">Samer Wahdan</div>
        <div><img src="assets/image/profile/member8.jpg" alt="">Mohammad Wahdan</div>
        <div><img src="assets/image/profile/member2.jpg" alt="">Abdulrahman Alshami</div>
        <div><img src="assets/image/profile/member5.jpg" alt="">Rahaf Abu-Samrah</div>
        <div><img src="assets/image/profile/member4.jpg" alt="">Tasnim AlShishani</div>

    </div>
</div>
 </div>
 <div class="info-col-post">
    <app-mange-post></app-mange-post>
    <app-post-list [userId]="userId"></app-post-list>
 </div>
</div>