
     <div class="header">
        <div class="logo">Free<span>Space</span></div>
        <form  method="post">
            <div class="sign-in-form">
                <div class="user-input">
                    <div class="input-text">Email</div>
                    <input type="email" name="in-email" id="email" class="input-text-field">
                </div>
                <div class="password-input">
                    <div style="font-size:15px;padding-bottom:5px;">Password</div>
                    <input type="password" name="in-pass" id="in-password" class="input-text-field">
                </div>
              <div class="login-button">
                <input type="submit" value="Log in" class="sign-in login" (click)="login()">
              </div>

            </div>
        </form>
    </div>
    <div class="main" style="width:100%;">
        <div class="left-side">
            <img class="sign-image" src="assets/image/pic/like-comment.png" alt="sign-up-image">
        </div>
        <div class="right-side">
            <div class="error"></div>
            <h1 style="color:#212121;">Create an account</h1>
            <div style="color:#212121;font-size:20px;margin-top: 20px;">It's free and always will be</div>
            <form [formGroup]="registerationForm" >
                <div class="sign-up-form">
                    <div class="sign-up-name">
                        <input  type="text"  name="firstName"  class="text-field" placeholder="First Name" required>
                        <input type="text" name="lastName" class="text-field" placeholder="Last Name" required>


                    </div>
                    <div class="sign-wrap-email">
                        <input type="email"    name="email" id="up-email" class="text-input" placeholder="Email address">
                    </div>
                    <div class="sign-up-password">
                        <input type="password" name="password"  class="text-input" placeholder="Password">
                    </div>
                    <div class="sign-up-birthday">
                        <div class="bday">Birthday</div>
                        <div class="form-birthday">

                            <div class="input-group date">
                                <input type="date"name="dateOfBirth" class="form-control"/>
                              </div>
                        </div>

                    </div>
                    <div class="gender-wrap">
                        <input type="radio" name="gender" id="fem" value="female" class="m0">
                        <label for="fem" class="gender">Female</label>
                        <input type="radio" name="gender" id="male" value="male" class="m0">
                        <label  for="male" class="gender">Male</label>
                    </div>
                    <div class="term">
                        By clicking Sign Up, you agree to our terms, Date policy and Cookie policy.
                    </div>
                    <input type="submit" (click)="Register()" class="sign-up">
                </div>
            </form>
        </div>
    </div>



