<img src="assets/image/profile/cover3.jpg" class="cover-img">
<div class="profile-details">
<div class="pd-left">
<div class="pd-row">
    <img src="assets/image/profile/profile.jpg" class="pd-image" alt="">
    <div style="  color: var(--text-color);">
        <h3>{{user.fullName}}</h3>
        <p>120 friends - 20 mutual</p>
        <img src="assets/image/profile/member2.jpg" alt="">
        <img src="assets/image/profile/member6.jpg" alt="">
        <img src="assets/image/profile/member7.jpg" alt="">
        <img src="assets/image/profile/member8.jpg" alt="">
       
    </div>
</div>
</div>

<div class="pd-right">
    <button style="color: var(--text-color);" type="button"><img src="assets/image/icons/add-friend-24.png" alt="">Friends </button>
 
    
</div>
</div>
