<div class="mainDiv">
  <div class="cardStyle" id="privacy">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <h2 class="formTitle">
        Change profile picture
      </h2>
      <br>
      <div class="UserProfile-info">
        <img src="assets/image/profile/member1.jpg" alt="user">
      </div>
      <input type="file" name="fileUploadPic" id="fileUploadPic">
      <button type="submit" class="btn">Upload</button>
      <div class="buttonWrapper">
      </div>

    </form>
  </div>
</div>
