<div class="mainDiv">
  <div class="cardStyle" id="privacy">
    <form [formGroup]="ChangePFP" (ngSubmit)="UpdatePFP()"  enctype="multipart/form-data">
      <h2 class="formTitle">
        Change profile picture
      </h2>
      <br>
      <div class="UserProfile-info">
        <img src="assets/image/profile/member1.jpg" alt="user">
      </div>
      <label for="fileUploadPic">Upload Profile picture</label>
      <br>
      <input type="file" name="fileUploadPic" formControlName="fileUploadPic">
      <button type="submit" class="btn">Upload</button>
      <div class="buttonWrapper">
      </div>
      <label for="fileUploadPic">Upload Cover picture</label>
      <br>
      <input type="file" name="fileUploadCover" formControlName="fileUploadCover">
      <button type="submit" class="btn">Upload</button>
      <div class="buttonWrapper">
      </div>

    </form>
  </div>
</div>
