
    <div class="write-post-container">
        <div class="user-profile">
            <img src="assets/image/profile/profile.jpg" alt="">
        <div>
        <p>Rand Wahdan</p>
    </div>
        </div>

        <div class="post-input-container">
            <textarea  rows="3" placeholder="What's on your mind, Rand?"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="assets/image/icons/photo.JPG" alt="">Photo</a>
                <a href="#"><img src="assets/image/icons/video (2).png" alt="">Video</a>

            </div>
        </div>
    </div>
    
  <!--  <router-outlet></router-outlet>-->
