<div class="post-container">
  <div class="post-row">
    <div class="user-profile">
      <img src="assets/image/profile/profile.jpg" alt="">
      <div>
        <p>Rand Wahdan</p>
        <span>November 8 2023 , 13:40 pm</span>
      </div>
    </div>
    <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
  </div>

  <p class="post-text">No. Sorry. They are not “collateral damage” they are human beings who happen to have been born there and live there and most of those human beings are stuck there. Have some compassion, they are Palestinians not buildings or roads or things, they are human beings and so are the hostages whose lives you may also be destroying. They aren’t “collateral damage” either.

    “Netanyahu Calls Palestinians ‘Collateral Damage’ As Israel Destroys Gaza”<a target="_blank" href="https://www.huffpost.com/entry/benjamin-netanyahu-israel-gaza-collateral-damage_n_655119bfe4b0373d70b28a56"> more details</a></p>
  <div class="post-row">
    <div class="activity-icons">
      <div><img src="assets/image/icons/like-blue.png" alt="">95</div>
      <div><img src="assets/image/icons/comments.png" alt="">15</div>
      <div><img src="assets/image/icons/share.png" alt="">4</div>


    </div>
  </div>
</div>
<div class="post-container">
  <div class="post-row">
    <div class="user-profile">
      <img src="assets/image/profile/member6.jpg" alt="">
      <div>
        <p>Samer Wahdan</p>
        <span>November 11 2023 , 16:30 pm</span>
      </div>
    </div>
    <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
  </div>

  <p class="post-text">Time spent amongst trees is never wasted time</p>
  <img src="assets/image/post/imgPost3.JPG"class="post-img">
  <div class="post-row">
    <div class="activity-icons">
      <div><img src="assets/image/icons/like-blue.png" alt="">95</div>
      <div><img src="assets/image/icons/comments.png" alt="">15</div>
      <div><img src="assets/image/icons/share.png" alt="">4</div>
    </div>

  </div>
</div>

<div class="post-container">
  <div class="post-row">
    <div class="user-profile">
      <img src="assets/image/profile/member4.jpg" alt="">
      <div>
        <p>Tasnim AlShishani</p>
        <span>October 7 2023 , 13:40 pm</span>
      </div>
    </div>
    <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
  </div>

  <p class="post-text">We shouldn't stop talking about Ghaza
    Israel is criming now</p>
  <img src="assets/image/post/imgPost1.jpg"class="post-img">
  <div class="post-row">
    <div class="activity-icons">
      <div><img src="assets/image/icons/like-blue.png" alt="">95</div>
      <div><img src="assets/image/icons/comments.png" alt="">15</div>
      <div><img src="assets/image/icons/share.png" alt="">4</div>


    </div>
  </div>
</div>
<button type="button"class="load-more-button">Load More</button>
