<div class="mainDiv" id="divAccount">
  <div class="cardStyle">
    <form action="" method="post" name="AccountForm" id="accset">
      <h2 class="formTitle">
        Account Information
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="tbEmail">Username:</label>
        <input type="text" id="tbUsername" name="tbUsername" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="tbPhon">Phone Number:</label>
        <input type="tel" id="tbPhon" name="tbPhon" required>
      </div>



      <div class="buttonWrapper">
        <button type="submit" id="AccSaveButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
          <span>Save Changes</span>
        </button>
      </div>

    </form>
  </div>
</div>
