<div class="mainDiv" id="divAccount">
  <div class="cardStyle">
    <form [formGroup]="AccountForm" (ngSubmit)="Save()" name="AccountForm" novalidate>

      <h2 class="formTitle">
        Account Information
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="tbEmail">Username:</label>
        <input type="text"   class="form-control" formControlName="Username"  required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="tbPhon">Phone Number:</label>
        <input type="tel" class="form-control" formControlName="Phone"  pattern="^\d{10}$">

      </div>
      <div class="buttonWrapper">
        <button [disabled]="AccountForm.invalid"  type="submit" name="AccSaveButton"  class="submitButton pure-button pure-button-primary">
          <span>Save Changes</span>
        </button>
      </div>

    </form>
  </div>
</div>
