<div class="mainDiv" id="notification">
  <div class="cardStyle">
    <form action="" method="post" name="AccountInfoForm" id="AccountInfoForm">
      <div   class="Notification-container">
        <div class="Notification-container-header">
          <div class ="heading"> Notification Settings</div>
          <div class ="heading">
            Once you press the notifications unable button, you won't receive any notifications from this app.</div>
          <div class="settings">
            <h2>General Settings</h2>
            <label>
              <input type="checkbox" id="enableNotifications" checked>
              Enable Notifications
            </label>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
