<div class="mainDiv">
  <div class="cardStyle">
    <form  name="passwordForm" id="UserInfo">



      <h2 class="formTitle">
        Info
      </h2>
      <div class="div"></div>

      <div class="inputDiv">
        <label class="inputLabel" for="bio">Bio:</label>
        <textarea name="bio" id="" cols="30" rows="10"></textarea>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required>
      </div>



      <div class="buttonWrapper">
        <button type="submit" id="passwordSaveButton"  class="submitButton pure-button pure-button-primary">
          <span>Save</span>
        </button>
      </div>

    </form>
  </div>
</div>
