
    <div class="left-sidebar">
        <div class="imp-link">
            <a  routerLink="/friends"  routerLinkActive="active"><img src="assets/image/icons/friends.png" alt="">Friends</a>
        </div>
        <div class="sidebar-title">
            <h6 style=" color:#1876f2;margin-bottom: 20px;">Users suggestions</h6>
            
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member6.jpg" alt="">
            </div>
            <p>Samer Wahdan</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member4.jpg" alt="">
            </div>
            <p>Tasnim AlShishani</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member2.jpg" alt="">
            </div>
            <p>Abdulrahman Alshami</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member5.jpg" alt="">
            </div>
            <p>Rahaf Abu-Samrah</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member3.jpg" alt="">
            </div>
            <p>Ahmad Alqrenawi</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/image/profile/member7.jpg" alt="">
            </div>
            <p>Rahaf Kisbeh</p>
        </div>
    </div>
