<div   class="friend-container">  
    <div class="friend-container-header"> 
        <div class ="heading">All Friends</div>
        <div class="search">
            <img src="assets/image/icons/search.png" alt="">
            <input type="text" placeholder="Search Friends ">
        </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member6.jpg" alt="user">
            <a><span>Samer Wahdan</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member8.jpg" alt="user">
            <a><span>Mohammad Wahdan</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/mmeber9.jpg" alt="user">
            <a><span>Rania Shelbayah</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member3.jpg" alt="user">
            <a><span>Ahmad Alqrenawi</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member7.jpg" alt="user">
            <a><span>Rahaf Kisbeh</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member4.jpg" alt="user">
            <a><span>Tasnim AlShishani</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
    <div class="friends-body">
        <div class="user-row">
            <div class="user-info">
            <img src="assets/image/profile/member5.jpg" alt="user">
            <a><span>Rahaf Abu-Samrah</span></a>
        </div>
        <button class="action-follow"><img src="assets/image/icons/following-25.png" alt="">Friends</button>
       </div>
    </div>
       
        <div class="friends-body">
            <div class="user-row">
                <div class="user-info">
                <img src="assets/image/profile/member2.jpg" alt="user">
                <a href="#"><span>Abdulrahman Alshami</span></a>
            </div>
            <button class="action-follow"><img  src="assets/image/icons/following-25.png" alt="">Friends</button>
           </div>
        </div>
</div>